@font-face {
  font-family: 'Silk Serif';
  src: url('./fonts/Silk_Serif_Regular.otf') format('truetype');
       /* url('./fonts/SilkSerif-Bold.ttf') format('truetype'); */
  font-weight: normal;
  font-style: normal;
}